apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
  namespace: microservices-app
type: Opaque
stringData:
  AUTH_USER: "postgres"
  AUTH_PASSWORD: "CHANGE_ME"
  USER_USER: "postgres"
  USER_PASSWORD: "CHANGE_ME"
  ORDER_USER: "postgres"
  ORDER_PASSWORD: "CHANGE_ME"
  REDIS_PASSWORD: "CHANGE_ME"
  JWT_SECRET: "CHANGE_ME_AT_LEAST_32_CHARS"
  INTERNAL_SECRET: "CHANGE_ME"